@keyframes animate-nav {
    from{
        transform: translateY(-40px);
    }
    to{
        transform: translateY(0);
    }
}
@keyframes animate-landing-page {
    from{
        opacity: 0;
        transform: translateY(-40px);
    }
    to{
        opacity: 1;
        transform: translatey(0);
    }
}
@keyframes p {
    from{
        opacity: 0;
        transform: translateX(-40px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes p1 {
    from{
        opacity: 0;
        transform: translateX(-40px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes p2 {
    from{
        opacity: 0;
        transform: translateX(40px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}
@keyframes btn {
   0%{
        transform: scale(0.8);
   }
   50%{
        transform: rotate(10deg);
        color: #063970;
   }
   75%{
    transform: rotate(-10deg);
   }
   100%{

   }
}